@font-face {
  font-family: todoFont;
  src: url(./Fonts/static/JosefinSans-Regular.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: todoFont;

}

img {
  width: 100%;
}
.imageMobile {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.image {
  display: none;
}

.bodyWrapper {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.visibileFilters p,
.filterActivity p {
  cursor: pointer;
}

.body {
  width: 80%;
  margin: 0 auto;
}
.errormsg {
  text-align: center;
  padding: 10px;
}
.drag {
  text-align: center;
  margin-top: 40px;
  color: hsl(0, 3%, 77%);
}
@media (min-width: 760px) {
  .image img {
    width: 100%;
    position: fixed;
    z-index: 2;
  }
  .image {
    display: block;
  }
  .imageMobile {
    display: none;
  }
  .body {
    width: 35%;
    margin: 0 auto;
  }
  .visibileFilters {
    display: none !important;
  }
}
